<!-- Footer -->
<footer>
    
    <p class="footer-top-text mb-0 px-5 py-1">
        <span class="d-flex justify-content-between">
            <span class="text-dark pl-2 pt-1"><strong>Follow Us on</strong></span> 
            <span>
                <a href="/"><span class="fa-stack">
                    
                    <i class="fas fa-square fa-stack-2x  text-light mx-3"></i>
                    <i class="fab  fa-facebook-square fa-stack-2x text-primary mx-3"></i>
                    
                </span></a>
                <a href="/"><span class="fa-stack">
                    
                    <i class="fas fa-square fa-stack-2x  text-light mx-3"></i>
                    <i class="fab  fa-instagram-square fa-stack-2x  mx-3"></i>
                    
                </span></a>
                <a href="/"><span class="fa-stack">
                    
                    <i class="fas fa-square fa-stack-2x  text-light mx-3"></i>
                    <i class="fab  fa-twitter-square fa-stack-2x text-info mx-3"></i>
                    
                </span></a>
                <a href="/"><span class="fa-stack">
                    
                    <i class="fas fa-square fa-stack-2x  text-light mx-3"></i>
                    <i class="fab  fa-linkedin fa-stack-2x text-gradient-primary mx-3"></i>
                    
                </span></a>

        </span>
    </p>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-one .md-mb-30 .sm-mb-30">
                    <p class="text-center">
                        <img src="logo/logo.png" alt="WayForLife">
                    </p>
                    <p>
                        <h2 class="">Way For Life</h2>
                    </p>
                    <p class="text-left">Way for Life is a registered, youth-driven NGO, based in Bengaluru, Karnataka, founded in the year 2017.</p>
                    
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-two .md-mb-30 .sm-mb-30 mb-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <a href="https://pages.razorpay.com/pl_EaJKdxzKa2ntCt/view"><li>Donate</li></a>
                        <a data-toggle="modal" data-target="#faqModalScrollable"><li>FAQs</li></a>
                        <a data-toggle="modal" data-target="#termsModalScrollable"><li>Terms & Conditions</li></a>
                        <a data-toggle="modal" data-target="#privacyModalScrollable"><li>Privacy Policy</li></a>
                        <a data-toggle="modal" data-target="#csrModalScrollable"><li>CSR</li></a>
                        <a href="/blogs"><li>Blogs</li></a>
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-three .sm-mb-30 mb-3">
                    <h3>Contact</h3>
                    <ul class="contact-info">
                        <li><span><i class="fas fa-phone"></i>&nbsp; +91 789-999-3789 /<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 7676-555-334</p> </span></li>
                        
                        <a href="mailto:info@wayforlife.com"><li><i class="fas fa-envelope"></i>&nbsp;contact@wayforlife.org</li></a>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-four .sm-mb-30 mb-3">
                    <h3>Newsletter</h3>
                    <p class="text-left">Subscribe to our newsletter for updates</p>
                    <form action="/signup" method="POST">
                        <input type="email" name="email">
                        <input type="submit" name="Subscribe">
                    </form>
                    
                </div>
                
            </div>
        </div>
        
    </div>
    <p class="footer-bottom-text bottom-last">All rights reserved by &copy;Way For Life 2020 </p>
</footer>
      <!-- Footer -->




        <!-- Terms & conditions Modal -->
        <div class="modal fade" id="termsModalScrollable" tabindex="-1" role="dialog" aria-labelledby="termsModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="termsModalScrollableTitle">Terms & Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h2 class="text-center">Welcome to www.wayforlife.org!</h2>

                    These terms and conditions outline the rules and regulations for the use of Way For Life’s Website, located at www.wayforlife.org.
                    
                    By accessing this website we assume you accept these terms and conditions. Do not continue to use www.wayforlife.org if you do not agree to take all of the terms and conditions stated on this page.
                    
                    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                    
                    <h2>Cookies</h2>
                    We employ the use of cookies. By accessing www.wayforlife.org, you agreed to use cookies in agreement with the Way For Life’s Privacy Policy.
                    
                    Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
                    
                    <h2>License</h2>
                    Unless otherwise stated, Way For Life and/or its licensors own the intellectual property rights for all material on www.wayforlife.org. All intellectual property rights are reserved. You may access this from www.wayforlife.org for your own personal use subjected to restrictions set in these terms and conditions.
                    
                    You must not:
                    
                    Republish material from www.wayforlife.org
                    Sell, rent or sub-license material from www.wayforlife.org
                    Reproduce, duplicate or copy material from www.wayforlife.org
                    Redistribute content from www.wayforlife.org
                    This Agreement shall begin on the date hereof.
                    
                    Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Way For Life does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Way For Life,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Way For Life shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                    
                    Way For Life reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.
                    
                    You warrant and represent that:
                    
                    You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
                    The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;
                    The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy
                    The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.
                    You hereby grant Way For Life a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
                    
                    <h2>Hyperlinking to our Content</h2>
                    The following organizations may link to our Website without prior written approval:
                    
                    Government agencies;
                    Search engines;
                    News organizations;
                    Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and
                    System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.
                    These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.
                    
                    We may consider and approve other link requests from the following types of organizations:
                    
                    commonly-known consumer and/or business information sources;
                    dot.com community sites;
                    associations or other groups representing charities;
                    online directory distributors;
                    internet portals;
                    accounting, law and consulting firms; and
                    educational institutions and trade associations.
                    We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Way For Life; and (d) the link is in the context of general resource information.
                    
                    These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.
                    
                    If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Way For Life. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
                    
                    Approved organizations may hyperlink to our Website as follows:
                    
                    By use of our corporate name; or
                    By use of the uniform resource locator being linked to; or
                    By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.
                    No use of Way For Life’s logo or other artwork will be allowed for linking absent a trademark license agreement.
                    
                    <h2>iFrames</h2>
                    Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.
                    
                    <h2>Content Liability</h2>
                    We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
                    
                    <h2>Your Privacy</h2>
                    Please read Privacy Policy
                    
                    <h2>Reservation of Rights</h2>
                    We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.
                    
                    <h2>Removal of links from our website</h2>
                    If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.
                    
                    We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.
                    
                    <h2>Disclaimer</h2>
                    To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:
                    
                    limit or exclude our or your liability for death or personal injury;
                    limit or exclude our or your liability for fraud or fraudulent misrepresentation;
                    limit any of our or your liabilities in any way that is not permitted under applicable law; or
                    exclude any of our or your liabilities that may not be excluded under applicable law.
                    The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
                    
                    As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                
                </div>
            </div>
            </div>
        </div>


                <!-- FAQ Modal -->
                <div class="modal fade" id="faqModalScrollable" tabindex="-1" role="dialog" aria-labelledby="faqModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="faqModalScrollableTitle">FAQs</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ad nam unde quis expedita magni aut molestias sunt in perspiciatis facere ullam animi ducimus possimus sed quos, sit saepe vitae repellat atque ipsa alias! Vel ut enim corrupti deserunt optio, quam recusandae numquam aspernatur dicta incidunt laboriosam repudiandae. Fugiat molestias illo nesciunt eligendi quasi sit explicabo suscipit consequatur deserunt tempore nisi nam dolore, numquam vitae temporibus laboriosam modi voluptates enim natus maxime hic eum tenetur doloremque! Iusto corporis sunt provident at fugiat, facere alias quam amet modi libero excepturi fugit? Eum quaerat fugiat mollitia voluptatibus facere nesciunt eaque dolores dolorum sunt itaque deserunt, obcaecati repudiandae possimus ullam non quis corporis quidem labore explicabo sit? Tenetur eum unde perspiciatis doloribus qui ipsa quis quia distinctio quam aut, mollitia laudantium quidem labore explicabo non quos saepe dolorem repellendus doloremque? Sit nihil consequuntur earum a sunt nulla nobis blanditiis dicta. Aut, asperiores itaque dolore at temporibus aliquam omnis eaque, facere vitae, necessitatibus eveniet odit reiciendis error fuga saepe voluptatibus incidunt ab delectus voluptate! Eos obcaecati numquam veritatis suscipit perferendis incidunt corrupti asperiores reiciendis laborum, quia dolores similique, odit nisi! Quibusdam eos nihil at, ducimus beatae accusamus quos provident unde itaque aspernatur aut autem sunt adipisci aperiam illo ea iure est. Ducimus voluptas vitae maxime cupiditate, pariatur eum reprehenderit? Voluptatem cum temporibus quisquam, ipsum porro quia cumque rerum voluptate impedit natus maiores eveniet sit neque velit excepturi expedita iure eos perspiciatis incidunt deleniti totam! Explicabo eaque vel non unde quaerat assumenda ipsa officiis! Maxime, neque commodi et hic cupiditate, necessitatibus saepe quaerat ea omnis consectetur quam iste at pariatur reprehenderit unde, cumque nam ad atque distinctio mollitia corporis eius. Nisi sint ad aspernatur quaerat odit hic eaque eveniet debitis, voluptates facere reprehenderit commodi nulla harum id, molestias dignissimos architecto quae, similique itaque possimus suscipit. Recusandae, animi asperiores. Est maiores, ullam perferendis hic aperiam, inventore sapiente sit, iure fuga consectetur ducimus eveniet sunt neque! Tenetur qui id, ducimus voluptates soluta laudantium, eaque sapiente asperiores quam dolor ratione ullam ipsam nostrum placeat libero tempore veritatis ab. Aut aliquam eius quaerat optio, atque, consectetur incidunt, aspernatur vel veritatis voluptate explicabo dolorum quasi reiciendis at eligendi cupiditate facilis excepturi numquam? Excepturi officiis sequi, odit doloribus repellat modi iusto fugit saepe totam dolor neque adipisci iste ab. Cupiditate, esse culpa! Aliquam tempore architecto excepturi, illum expedita porro sapiente corrupti in? Dolorum nihil deserunt fuga molestias voluptas veritatis a quam aliquid tempora quas eligendi vel voluptatum dolores temporibus atque delectus officia nesciunt, magni dignissimos veniam tempore doloribus labore facere recusandae? Animi natus quam commodi rem obcaecati provident magni blanditiis numquam voluptatibus voluptate! Nisi unde maiores alias odit assumenda? Velit nulla quibusdam sunt praesentium nesciunt possimus reiciendis provident optio iste sapiente, delectus mollitia officiis tempore dolorum! Quibusdam, numquam minima ex earum odit dignissimos nesciunt voluptates sequi tempora nobis velit aut minus debitis qui nihil rerum facere fugiat possimus molestiae porro cumque iusto accusantium atque. Reprehenderit ipsa modi pariatur sequi veritatis voluptatibus ea ab? Odio, ipsa a tempore nostrum consectetur molestiae cumque.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>




                <!-- Privacy Modal -->
                <div class="modal fade" id="privacyModalScrollable" tabindex="-1" role="dialog" aria-labelledby="privacyModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="privacyModalScrollableTitle">Privacy Policy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <h2>Terms and conditions</h2>
                            These terms and conditions (“Terms”, “Agreement”) are an agreement between Website Operator (“Website Operator”, “us”, “we” or “our”) and you (“User”, “you” or “your”). This Agreement sets forth the general terms and conditions of your use of the wayforlife.org website and any of its products or services (collectively, “Website” or “Services”).
                            
                            <h2>Accounts and membership</h2>
                            If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. Providing false contact information of any kind may result in the termination of your account. You must immediately notify us of any unauthorized uses of your account or any other breaches of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions. We may suspend, disable, or delete your account (or any part thereof) if we determine that you have violated any provision of this Agreement or that your conduct or content would tend to damage our reputation and goodwill. If we delete your account for the foregoing reasons, you may not re-register for our Services. We may block your email address and Internet protocol address to prevent further registration.
                            
                            <h2>User content</h2>
                            We do not own any data, information or material (“Content”) that you submit on the Website in the course of using the Service. You shall have sole responsibility for the accuracy, quality, integrity, legality, reliability, appropriateness, and intellectual property ownership or right to use of all submitted Content. We may monitor Content on the Website submitted or created using our Services by you. Unless specifically permitted by you, your use of the Website does not grant us the license to use, reproduce, adapt, modify, publish or distribute the Content created by you or stored in your user account for commercial, marketing or any similar purpose. But you grant us permission to access, copy, distribute, store, transmit, reformat, display and perform the Content of your user account solely as required for the purpose of providing the Services to you. Without limiting any of those representations or warranties, we have the right, though not the obligation, to, in our own sole discretion, refuse or remove any Content that, in our reasonable opinion, violates any of our policies or is in any way harmful or objectionable.
                            
                            <h2>Backups</h2>
                            We perform regular backups of the Website and Content and will do our best to ensure completeness and accuracy of these backups. In the event of the hardware failure or data loss we will restore backups automatically to minimize the impact and downtime.
                            
                            <h2>Prohibited uses</h2>
                            In addition to other terms as set forth in the Agreement, you are prohibited from using the Website or its Content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.
                            
                            <h2>Intellectual property rights</h2>
                            This Agreement does not transfer to you any intellectual property owned by Website Operator or third-parties, and all rights, titles, and interests in and to such property will remain (as between the parties) solely with Website Operator. All trademarks, service marks, graphics and logos used in connection with our Website or Services, are trademarks or registered trademarks of Website Operator or Website Operator licensors. Other trademarks, service marks, graphics and logos used in connection with our Website or Services may be the trademarks of other third-parties. Your use of our Website and Services grants you no right or license to reproduce or otherwise use any Website Operator or third-party trademarks.
                            
                            <h2>Limitation of liability</h2>
                            To the fullest extent permitted by applicable law, in no event will Website Operator, its affiliates, officers, directors, employees, agents, suppliers or licensors be liable to any person for (a): any indirect, incidental, special, punitive, cover or consequential damages (including, without limitation, damages for lost profits, revenue, sales, goodwill, use or content, impact on business, business interruption, loss of anticipated savings, loss of business opportunity) however caused, under any theory of liability, including, without limitation, contract, tort, warranty, breach of statutory duty, negligence or otherwise, even if Website Operator has been advised as to the possibility of such damages or could have foreseen such damages. To the maximum extent permitted by applicable law, the aggregate liability of Website Operator and its affiliates, officers, employees, agents, suppliers and licensors, relating to the services will be limited to an amount greater of one dollar or any amounts actually paid in cash by you to Website Operator for the prior one month period prior to the first event or occurrence giving rise to such liability. The limitations and exclusions also apply if this remedy does not fully compensate you for any losses or fails of its essential purpose.
                            
                            <h2>Indemnification</h2>
                            You agree to indemnify and hold Website Operator and its affiliates, directors, officers, employees, and agents harmless from and against any liabilities, losses, damages or costs, including reasonable attorneys’ fees, incurred in connection with or arising from any third-party allegations, claims, actions, disputes, or demands asserted against any of them as a result of or relating to your Content, your use of the Website or Services or any willful misconduct on your part.
                            
                            <h2>Severability</h2>
                            All rights and restrictions contained in this Agreement may be exercised and shall be applicable and binding only to the extent that they do not violate any applicable laws and are intended to be limited to the extent necessary so that they will not render this Agreement illegal, invalid or unenforceable. If any provision or portion of any provision of this Agreement shall be held to be illegal, invalid or unenforceable by a court of competent jurisdiction, it is the intention of the parties that the remaining provisions or portions thereof shall constitute their agreement with respect to the subject matter hereof, and all such remaining provisions or portions thereof shall remain in full force and effect.
                            
                            <h2>Dispute resolution</h2>
                            The formation, interpretation, and performance of this Agreement and any disputes arising out of it shall be governed by the substantive and procedural laws of Karnataka, India without regard to its rules on conflicts or choice of law and, to the extent applicable, the laws of India. The exclusive jurisdiction and venue for actions related to the subject matter hereof shall be the state and federal courts located in Karnataka, India, and you hereby submit to the personal jurisdiction of such courts. You hereby waive any right to a jury trial in any proceeding arising out of or related to this Agreement. The United Nations Convention on Contracts for the International Sale of Goods does not apply to this Agreement.
                            
                            <h2>Changes and amendments</h2>
                            We reserve the right to modify this Agreement or its policies relating to the Website or Services at any time, effective upon posting of an updated version of this Agreement on the Website. When we do, we will send you an email to notify you. Continued use of the Website after any such changes shall constitute your consent to such changes.
                            
                            <h2>Acceptance of these terms</h2>
                            You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Website and its Services.
                            
                            <h2>Contacting us</h2>
                            If you have any questions about this Agreement, please contact us.
                            contact@wayforlife.org
                            
                            This document was last updated on May 29, 2019
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>



                <!-- CSR Modal -->
                <div class="modal fade" id="csrModalScrollable" tabindex="-1" role="dialog" aria-labelledby="csrModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="csrModalScrollableTitle">CSR</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                           <p> Way for Life has always used corporate volunteering

                            engagement as one of its tools to execute the programmes. The past year has not been any different! Working by its main mantra – development, the organisation has engaged in more than 185 events in cities like Bangalore,Hyderabad and Mumbai and collaborated with numerous local and global NGOs to accelerate the betterment of government schools, which also are they key focus for the organisation when it comes to development. The organisation’s engagement with around 25-30 corporate clients in the year makes it very clear, that corporate volunteering engagement is what capacitates it to undertake the numerous projects. Apart from working for the development of government schools, Way for Life also collaborated with around 25 other NGOs to work on community problems during the year and helped several other organisations in better implementation of their
                            
                            plans
                        </p>
                            
                            Way For Life partners with corporates in their CSR initiatives through the following:
                            
                            <ul>
                                <li>
                                    Education programs in schools,orphanages, and shelter homes
                                </li>
                                <li>
                                    Employee Volunteering for various causes
                                </li>
                            </ul>
                           
                            
                            
                        <p>Our major interventions</p>
                            <ul>
                                <li><strong>Employee Volunteering:</strong> Way For Life engages employee volunteers from corporate in a variety of volunteering interventions in education & civic welfare.</li>
                                <li><strong>Education programs:</strong> One of our flagship projects, ‘Government School Development’ is an initiative which demands the cooperation and contribution of almost all of our volunteers and partners. The project commences with rigorous research conducted by our volunteers who inspect the conditions prevalent in Government schools, report on their inadequacies and eventually, conceptualize all the possible interventions which Way for Life can undertake.</li>
                            </ul>
                            
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>


   
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="libs/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/script.js"></script>
  
</body>
</html>