<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Way For Life</title>
	
	<link rel="stylesheet" type="text/css" href="libs/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<script src="libs/jquery-2.1.4.min.js"></script>
	
	
</head>