<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbarModify">
    <div class="container-fluid">
        <!-- navbar header -->
            <div class="navbar-header">
                <!-- navbar logo -->
                <img src="logo/logo.png" id="logo" alt="WayForLife">
                <!-- navbar logo name -->
                <a class="navbar-brand py-0" id="logo-name" href="/"><strong>WayForLife</strong></a>
            </div>
        <!-- navbar toggle button -->
            <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="icon">
                    <i class="fas fa-bars"></i>
                 </span>
                <span><i class="fa fa-times fa-lg close-icon py-1"></i></span>
            </button>
        
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <!-- navbar items -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/activities">Activities</a>
                            <a class="dropdown-item" href="/gallery">Gallery</a>					  
                            <a class="dropdown-item" href="/blogs">Blogs</a>
                            
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/internships">Internships</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSds5LLkINVnDYxdwP-BjWmH5T5VNYNJbzmjDEIpBGtX7pbaiA/viewform?embedded=true">Join us</a>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact us</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About us</a>
                    </li>
                </ul>
          </div>

    </div>
</nav>