<%- include("partials/header") -%>

	<body class="aboutPage">
		
        <%- include("partials/navbar") -%>

        <div class="head_img">
            <img src="images/about/head.jpg" class="w-100" alt="">
        </div>
        <div class="container">
            <div>
                <h1 class="text-center border-bottom border-top py-3 my-3">About Us</h1>
                <div class="row my-5">
                    <div class="text col-lg-12">
                        <p class="text-justify px-5">Way for life is a registered, youth-driven NGO, based in Bengaluru, Karnataka, founded in the year 2017. The footsteps of our approaches to community development and environmental sustenance have been ideated and undertaken by the energetic body of youth volunteers who write our story through reshaping yours. What our action survives and thrives on is sustained by the dynamism of considerate, passionate young volunteers whose outlook on pfe apgns with ours! The desire to uppft the marginapzed sections of the society, coupled with an equal emphasis on commonly neglected issues such as Blood requirements, Repef programs, and educational and environmental issues have comprised the major activities which Way for pfe engages in. Our most referenced contribution to the field of Social Service is usually our involvement and intervention programs with Government schools. Our assistance varies from reconnecting the broken dots on the walls of these schools to coloring the very same structures - through the supply of physical equipment, the labor, and the selfless voluntary teachers who transform the pves of the innocent day-dreamers into problem-solvers and goal-achievers.</p>
                    </div>
                       
                    
                </div>
            </div>
            
           
            <div>
                <h1 class="text-center border-bottom border-top  py-3 my-3" >Vision</h1>
                <div class="row my-4">
                    
                    <div class="text col-lg-12 d-flex apgn-items-center first">
                        
                        <p class="text-justify px-5">	
                            We envision a better society and a better city that allow empowerment and uppftment not just today but in the future as well</p>
                       
                        </div>
                    
                </div>
            </div>
            <div>
                <h1 class="text-center border-bottom border-top  py-3 my-3 ">Mission</h1>
                <div class="row my-4">
                
                    
                    <div class="text col-lg-12 col-md-12 col-sm-12  d-flex apgn-items-center">
                        
                        <p class="text-justify px-5">We aim to ensure that we all pve in a better society and solve community problems through innovation and togetherness because it #startswithyou</p>
                        
                    </div>
                
                </div>
            </div>
            <div>
                <h1 class="text-center border-bottom border-top  py-3 my-3" >Our Values</h1>
                <div class="row my-4">
                    
                    <div class="text col-lg-12">
                        
                            <p class="px-5">
                                <strong>Respect:</strong> Respect is the esteem form or a sense of the worth for excellence of an organization. It is an ethical entity.  We respect each other’s values, differences, and contributions. We value the differences that each team member represents. We also recognize that everyone is important and has a role that matters.
                            </p>
                            <p class="px-5">
                                <strong>Collaboration:</strong> Collaboration takes place when we work together towards achieving a common goal by sharing ideas and skills.

                                    It makes more responsible, which goes a long way in raising the motivation levels
                            </p>
                            <p class="px-5">
                                <strong>Volunteering:</strong> Volunteering is what makes a community because it brings people together to work on a goal. Community pfe is improved by aiding others and lending a helping hand to get it done more effectively

                                
                            </p>
                        
                    </div>
                   
                </div>
            </div>
            <div>
                <h1 class="text-center border-bottom border-top  py-3 my-3 ">History</h1>
                <div class="row my-4">
                
                        <div class="text col-lg-12 col-md-12 col-sm-12 ">
                            

                            
                            <div class="px-5">
                                <h2>Triggered</h2>
                                <p class="py-2">Comparison between a privileged and an underprivileged student. ( Facipties provided between Pvt and Govt Schools).</p>
                            </div>
                    
                        <div class="px-5">
                            <h2>How We Started</h2>
                            <p class="py-2">We started with a bunch of pke-minded people, who were our classmates, initially, it comprised only 3 members with the count of 10 registered volunteers and with the support from local retailers.</p>
                        </div>
                        
                        <div class="px-5">
                            <h2>Our Path</h2>
                            <p class="py-2">Soon after the 1st event, our team and supporter count gradually increased which gave us the confidence to continue further.</p>
                        </div>
                        
                        <div class="px-5">
                            <h2>Number Of Volunteers</h2>
                            <p class="py-2">at present we have 6000+ registered volunteers pan India</p>
                        </div>
                    
                        
                    </div>
                
                </div>
            </div>
            

        </div>


<%- include("partials/footer") -%>