<%- include("partials/header") -%>

	<body class="contactPage">
		
		<%- include("partials/navbar") -%>

		<section class="contact">
	
				<div class="container-info pb-5">
					
					<div class="contactInfo pt-5">
						<h1 class="text-white pb-5">Contact Us</h1>
						<div class="box ">
							<div class="icon">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="text">
								<h3>Address</h3>
								
  
								<p><strong>Way For Life</strong></p>
								<p>Royal Shelters, Stage 4,</p>
								<p>Bommanahalli, Bengaluru,</p>
								<p>Karnataka 560076</p>
							</div>
							
						</div>
						<div class="box">
							<div class="icon">
								<i class="fa fa-phone"></i>
							</div>
							<div class="text">
								<h3>Phone</h3>
								<p>+91 789-999-3789 / +91 7676-555-334</p>
							</div>
							
						</div>
						<div class="box">
							<div class="icon">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="text">
								<h3>Email</h3>
								<a href="mailto:info@wayforlife.com"><p>contact@wayforlife.org</p></a>
							</div>
							
						</div>

					</div>
					<div class="contactForm mt-5">
					<form action="/send" method="POST">
							<h2>Send Messages</h2>
							
							
							
							<div class="inputBox">
								<input type="text" name="name" required="required">
								<span>Full Name</span>
							</div>
							<div class="inputBox">
								<input type="email" name="email" required="required">
								<span>Email</span>
							</div>
							<div class="inputBox">
								<input type="tel" name="phone" required="required">
								<span>Mobile</span>
							</div>
							<div class="inputBox">
								<textarea name="message" required="required"></textarea> 
								<span>Type Your Message...</span>
							</div>
							<div class="inputBox">
								<input type="submit" value="Send" id="submitButton">
							</div>
						</form>
						
					</div>
				</div>
		</section>





<%- include("partials/footer") -%>