<%- include("partials/header") -%>

	<body class="readPage">
		
        <%- include("partials/navbar") -%>
        
        <section>
            <div class="container">
                <div class="card my-5">
                    <h1 class="text-center my-2">Title</h1>
                    <img src="pics/Penguins.jpg" alt="" class=" p-5">
                    <div class="card-body">
                        <div class="card-text">
                            <p>
                                <i class="fas fa-user">Penguins</i>
                                &nbsp;
                                <i class="fas fa-calendar">mar 19,2020 </i>
                            </p>
                            <p class="text-justify">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates libero vero molestiae deserunt doloremque architecto quis ducimus nobis eligendi omnis, repellat voluptatum sapiente. Deleniti, consectetur.
                            </p>
                        </div>
                        <div class="text-center">
                            <a href="/" class="btn btn-primary btn-lg">Apply Now</a>
                        </div>
                    </div>
                    
                </div>
               
            </div>
            
        </section>
        
<%- include("partials/footer") -%>