<div class="row my-5 mx-1">
    <div class="col-lg-3 my-2">
        <div class="container card p-3">
        <h5 class="mb-3">Activities</h5>
        
            <li class="ml-3 mb-2"><i class="fa fa-chevron-right"></i> <a href="/admin/upcoming">Upcoming activities</a></li>
            <li class="ml-3"><i class="fa fa-chevron-right"></i> <a href="/admin/ourActivities">Our Activities</a></li>
        
        <h5 class="my-3">Blogs</h5>
       
            <li class="ml-3"><i class="fa fa-chevron-right"></i> <a href="/admin/blogs">Blogs</a></li>
        
        
        <h5 class="my-3">Gallery</h5>
        
            <li class="ml-3 mb-2"><i class="fa fa-chevron-right"></i> <a href="/admin/pic">Images</a></li>
            <li class="ml-3"><i class="fa fa-chevron-right"></i> <a href="/admin/vid">Videos</a></li>
        
        
        <h5 class="mt-3">Internships</h5>
        
            <li class="ml-3"><i class="fa fa-chevron-right"></i> <a href="/admin/internships">Internships</a></li>
        
  
      </div>
  
    </div>
    <div class="col-lg-9">
      <div class="container card my-2 p-0">